boto3
ipykernel
nbformat
langchain
langchain-community
langchain_mistralai
matplotlib
numpy
openpyxl
pandas
plotly
psycopg2-binary
scikit-learn
scrapy==2.12.0
sentence_transformers
spacy
sqlalchemy==2.0.0
statsmodels
streamlit==1.37.1
tiktoken
torchinfo
wordcloud
xgboost